.hiTemp {
    font-size:24px;
}

.loTemp {
    font-size:16px;
}

body{
    font-family:'Calibri Light';
}

h1 {
    font-family:'Calibri Light';
}

.weatherInfo {
    margin-top:-10px;
    margin-left:5px;
}

.forecastDetail {
    font-size:24px;
}

.temps {
    
}

.pic {
    width:100px;
    height:100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
   
}

.daySpan {
    margin-left:5px;
    margin-top:5px;
    font-size:24px;
}

.outerDiv {
    display:block;
    float:left;
    margin-left:20px;
    background-color:#808080;
    width:150px;
    height:200px;
}

.outerDiv:hover {
    -webkit-animation:backChange 0.3s;
    animation:backChange 0.3s;
    background-color:#aaaaaa;
}

@-webkit-keyframes backChange {
    from { background-color: #808080; }
    to { background-color: #aaaaaa; }
}

@keyframes backChange {
    from { background-color: #808080; }
    to { background-color: #aaaaaa; }
}


