.hiTemp {
    font-size:24px;
}

.loTemp {
    font-size:16px;
    margin-left:1%;
}

body{
    font-family:'Calibri Light';
}

h1 {
    font-family:'Calibri Light';
    padding-left:2%;
    width:100%;
    background:#14edd9;
    margin-top:0px;
    padding-top:15px;
    padding-bottom:5px;
}

.userinput {
    width:80%;
    margin:0 auto;
}

.bigButton {
    height:50px;
    width:10%;
    font-size:150%;
    text-overflow:ellipsis;
    background: #aaaaaa;
    border:2px solid black;
}

.bigText {
    height:45px;
    width:50%;
    font-size:25px;
    padding-left:10px;
}

.bigButton:hover {
    background:#cccccc;
    cursor:pointer;
}

.weatherInfo {
    margin-left:5px;
}

#forecastDiv {
    width:80%;
    margin:0 auto;
}

.forecastDetail {
    font-size:24px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block
}

.spacer {
    height:25px;
}

html, body {
    height:100%;
    margin:0px;
    padding:0px;
}

#map-canvas {
    height:50%;
    width:61%;
    margin: 0 auto;
    padding: 0px
}

#map-canvas:hover {
    cursor:pointer !important;
}

.temps {
    
}

.pic {
    width:80%;
    height:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
   
}

.daySpan {
    margin-left:5px;
    margin-top:5px;
    font-size:24px;
}

.center {
    width:80%;
    margin:0 auto;
}

.outerDiv {
    display:inline-block;
    margin-left:3%;
    background-color:#bbbbbb;
    outline:1px solid white;
    border-radius:2px;
    width:11%;
    height:8%;
}


.outerDiv:hover {
    -webkit-animation:backChange 0.3s;
    animation:backChange 0.3s;
    background-color:#aaaaaa;
    cursor:pointer;
}

.hoverTooltip {
    display:none;
    z-index:10;
    padding:14px 20px;
    margin-top:-225px;
    margin-left:-100px;
    width:300px;
    height:175px;
    line-height:16px;
    box-shadow: 0px 0px 8px 4px #666;
    opacity: 0.8;
}

.outerDiv:hover .hoverTooltip {
    display:inline;
    animation: tooltipAppear .3s;
    -webkit-animation: tooltipAppear .3s;
    position:absolute;
    border:2px solid #FFF;
    color:#EEE;
    background:#000;
}

@-webkit-keyframes tooltipAppear {
    from { opacity:0.0; }
    to { opacity : 0.8; }
}

@keyframes tooltipAppear {
    from { opacity:0.0; }
    to { opacity : 0.8; }
}

@-webkit-keyframes backChange {
    from { background-color: #808080; }
    to { background-color: #aaaaaa; }
}

@keyframes backChange {
    from { background-color: #808080; }
    to { background-color: #aaaaaa; }
}