body, html {
    height:100%;
    width:100%;
}

.full_page {
    height:90%;
    width:100%;
}

.hiTemp {
    font-size:100%;
}

.loTemp {
    font-size:75%;
    margin-left:1%;
}

body{
    font-family:'Calibri Light';
}

#pageTitle {
    font-family:'Calibri Light';
    width:100%;
    height:5%;
    background:#14edd9;
    margin-top:0px;
    padding-top:1%;
    font-size:large;
}

.page_left {
    float:left;
    display:block;
    margin-left:5%;
    width:70%;
    height:100%;
}

.page_right {
    width:20%;
    height:100%;
    float:left;
}

.date_input {
    width:100%;
    position:absolute;
    bottom:0px;
}

.date_entry {
    width:calc(100% - 6px);
}


.userinput {
    width:100%;
}

.bigButton {
    height:100%;
    width:calc(15% - 8px);
    font-size:1.8vw;
    text-overflow:ellipsis;
    background: #aaaaaa;
    border:2px solid black;
}

.bigText {
    height:100%;
    width:82%;
    font-size:2vw;
    padding-left:10px;
}

.bigButton:hover {
    background:#cccccc;
    cursor:pointer;
}

.weatherInfo {
    margin-left:5px;
}

#forecastDiv {
    width:100%;
}

.no-overflow {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.forecastDetail {
    font-size:24px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block
}

.spacer {
    height:2%;
}

html, body {
    height:100%;
    margin:0px;
    padding:0px;
}

#map-canvas {
    height:50%;
    width:98%;
    padding: 0px
}

#map-canvas:hover {
    cursor:pointer !important;
}

.temps {
    
}

.pic {
    width:80%;
    height:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
   
}

.daySpan {
    margin-left:5px;
    margin-top:5px;
    font-size:24px;
}

.center {
    width:98%;
}

input[type=radio] {
    position:absolute;
    left:-1000000000px;
    top:-1000000000px;
}

input[type=radio]:checked + .hoverTooltip {
    display:inline;
    animation: tooltipAppear .3s;
    -webkit-animation: tooltipAppear .3s;
    color:#555555;
}

.outerDiv {
    display:inline-block;
    margin-left:3%;
    border-radius:2px;
    width:11%;
    height:1vw;
}


.outerDiv:hover {
    cursor:pointer;
}

label {
    display:inline;
}

.hoverTooltip > span {
    font-size:2vw;
}

.outerDiv:hover + .hoverTooltip {
    /*display:inline;
    animation: tooltipAppear .3s;
    -webkit-animation: tooltipAppear .3s;
    position:absolute;
    color:#555555;*/
}

.weatherHistory {
    height:45%;
    width:calc(100% - 10px);
    display:inline-block;
    background:rgba(255,255,255,.5); 
}

.textForecast {
    background:rgba(255,255,255,.5);
    width:calc(100% - 10px);
    height:45%;
    z-index:10;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    margin-top:20px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: 5px 10px;
    overflow-y:auto;
    overflow-x:hidden;
}

#detailText {
}

@-webkit-keyframes tooltipAppear {
    from {
        opacity:0.0;
        background:rgba(255, 255, 255, 150);
    }
    to {
        opacity : 0.8;
        background:rgba(255, 255, 255, 0);
    }
}

@keyframes tooltipAppear {
    from { opacity:0.0; }
    to { opacity : 0.8; }
}